$-c-red: #DC143C;
$-c-blue: #1E90FF;
$-c-yellow: #FFD700;
$-c-gray: #808080;
$-c-dark: #292929;
$-c-lightBlue: #1E90FF;
$-c-black: #000000;
$-c-white: #FFFFFF;
$-c-lightgray: #DCDCDC;

$-f-amarente: 'amarente';