@import './import';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.2s;
    background: no-repeat;
    background-size: cover;
}
img, svg {
    vertical-align: top;
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.logo {
    color: $-c-black;
}

.header {
    border-bottom: 1px solid $-c-gray;
    margin-bottom: 20px;
    &-search {
        border: 2px solid $-c-lightgray;
        border-right: none;
        border-radius: 6px 0px 0px 6px;
        padding: 5px;
        &-button {
            background-color: $-c-lightgray;
            padding: 5px;
            border: 2px solid $-c-lightgray;
            border-radius: 0px 6px 6px 0px;
            cursor: pointer;
            color: $-c-white;
        }
        &-svg {

        }
    }
    &-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }


    &-tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-element {
                padding: 3px;
                cursor: pointer;
                margin-right: 5px;
                &:last-child {
                    margin: 0px;
                }
            }
        }
        &__search {
            margin-right: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    &-navi {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        &__logo {
            margin-right: 30px;
            padding: 5px;
            cursor: pointer;
        }

        &__categories {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-element {
                margin-right: 10px;
                cursor: pointer;
                padding: 5px;
                &:last-child {
                    margin: 0px;
                }
            }
        }
    }
}


.burger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.burger span {
    display: block;
    height: 4px;
    background: $-c-black;
    border-radius: 2px;
}

.phone-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: $-c-white;
    padding: 20px;
    border-top: 1px solid $-c-white;
    z-index: 1;
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    & li {
        padding: 10px 0;
        font-size: 18px;
        border-bottom: 1px solid $-c-white;
    }
}
@media (max-width: $breakpoint-lg) {
    .desktop-menu {
        display: none;
    }

    .burger {
        display: flex;
    }
}

@media (max-width: $breakpoint-sm) {
    .header-body {
        flex-direction: column;
    }
}




.main {

    margin-bottom: 70px;
    &-slider {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        &__arrow {
            position: relative;
            left: 6%;
            cursor: pointer;
            &:last-child {
                position: relative;
                left: -6%;
            }
        }
    }

    &-news {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $-c-dark;
        padding: 15px;
        border-radius: 6px;
        position: absolute;
        bottom: 60px;
        // width: 45%;
        width: 100%;
        max-width: 440px;

        &-text {
            color: $-c-white;
        }

        &__title {
            margin-bottom: 5px;
        }
        &__description {
            margin-bottom: 10px;
        }
        &__button {

        }
        &-button {
            border: 2px solid $-c-lightBlue;
            padding: 10px;
            border-radius: 6px;
            cursor: pointer;
            background-color: $-c-lightBlue;
        }
    }

    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;

        &__item {
            border: 2px solid $-c-lightgray;
            border-radius: 6px;
            padding: 15px;


            &__photo {
                
            }

            &__description {
                margin-bottom: 10px;
            }

            &__cost {
                display: flex;
                flex-direction: row;
                justify-content: space-between ;
                align-items: center;
            }

            &__button {
                padding: 5px;
                cursor: pointer;
                border: 2px solid $-c-blue;
                background-color: $-c-white;
                color: $-c-blue;
                border-radius: 6px;
            }

            &__price {
                color: $-c-gray;
            }
        }
    }
}


@media (max-width: $breakpoint-sm) {
    .main-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
    .main-news {
        width: auto;
    }
}


.arrow {
    fill: $-c-gray;
}


.footer {
    margin-bottom: 70px;
    &-header {
        border-bottom: 2px solid $-c-lightgray;
        border-top: 2px solid $-c-lightgray;
        margin-bottom: 30px;


        &__benefits {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 15px 0px;
        }
    }

    &-main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 2px solid $-c-lightgray;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            & > * {
                padding-bottom: 5px;
                &:last-child {
                    padding-bottom: 0px;
                }
            }

            &-button {
                background-color: $-c-lightBlue;
                padding: 5px;
                border: 2px solid $-c-lightBlue;
                border-radius: 0px 6px 6px 0px;
                cursor: pointer;
                color: $-c-white;
            }

            &-input {
                border: 2px solid $-c-lightgray;
                border-right: none;
                border-radius: 6px 0px 0px 6px;
                padding: 5px;
            }
            &-email {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            &-link {
                color: $-c-black;
            }
        }
    }

    &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
    &-socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        
        & > * {
            margin-right: 20px;            
            &:last-child {
                margin-right: 0px;  
            }
        }
    }
}


.dropdown {
  position: relative;
  z-index: 1;

  &__button {
    border: none;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    top: 100%;
    width: 180px;
    background: $-c-white;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    padding: 8px 0;

    a {
      padding: 10px 16px;
      color: $-c-black;
    }
  }

  &.active .dropdown__menu {
    display: flex;
  }
}

@media (max-width: $breakpoint-md) {
    .footer-main-item {
        cursor: pointer;
    }
    .footer-main-item-span {
        display: none;
    }
    .active {
        display: block;
    }
}

@media (max-width: $breakpoint-sm) {
    .footer-main {
        flex-direction: column;
    }
    
}

//efects

.header-tools__profile-element:hover .svg-profile{
    fill: $-c-blue;
}
.header-tools__profile-element:hover .svg-liked{
    fill: $-c-red;
}
.header-tools__profile-element:hover .svg-cart{
    fill: $-c-yellow;
}

.header-navi__categories-element:hover {
    border-bottom: 2px solid $-c-black;
    border-radius: 12px;
    border-color: $-c-black;
}

.arrow:hover {
    fill: $-c-blue;

}

.main-news-button:hover {
    border-color: $-c-black;
    background-color:$-c-white;

    &,main-news-text {
        color: $-c-black;
    }
}

.main-products__item__button:hover {
    background-color: $-c-blue;
    border-color: $-c-white;
    color: $-c-white;
}

.instagram:hover {
    fill: $-c-red;
}
.twitter:hover {
    fill: $-c-blue;
}
.facebook:hover {
    fill: $-c-lightBlue;
}

.footer-main-item-button:hover {
    background-color: $-c-white;
    color: $-c-black;
}

.header-search-button:hover {
    background-color: $-c-blue;
    border-color: $-c-blue;
    & .header-search-svg {
        fill: $-c-white;
    }
}

.footer-main-item-link:hover {
    color: $-c-lightBlue;
}


.dropdown__menu a:hover {
    background: $-c-lightgray;
}


.footer-main-item-dropdown:hover {
    color: $-c-blue;
}