@import './import';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.2s;
    background: no-repeat;
    background-size: cover;
}
img, svg {
    vertical-align: top;
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.logo {
    color: black;
}

.header {


    &-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }


    &-tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-element {
                padding: 3px;
                cursor: pointer;
                margin-right: 5px;
                &:last-child {
                    margin: 0px;
                }
            }
        }
        &__search {
            margin-right: 20px;
        }
    }

    &-navi {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        &__logo {
            margin-right: 30px;
            padding: 5px;
            cursor: pointer;
        }

        &__categories {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-element {
                margin-right: 10px;
                cursor: pointer;
                padding: 5px;
                &:last-child {
                    margin: 0px;
                }
            }
        }
    }
}


.burger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.burger span {
    display: block;
    height: 4px;
    background: black;
    border-radius: 2px;
}

.phone-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    padding: 20px;
    border-top: 1px solid #ccc;
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    & li {
        padding: 10px 0;
        font-size: 18px;
        border-bottom: 1px solid #eee;
    }
}
@media (max-width: $breakpoint-lg) {
    .desktop-menu {
        display: none;
    }

    .burger {
        display: flex;
    }
}

@media (max-width: $breakpoint-sm) {
    .header-body {
        flex-direction: column;
    }
}


