@import './import';

* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background: no-repeat;
    background-size: cover;
}
img, svg {
    vertical-align: top;
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, li, span, h3, h4 {
    font-family: $-f-amarente;
}

.logo {
    color: $-c-black;
}

.header {
    border-bottom: 1px solid $-c-gray;
    margin-bottom: 20px;
    &-search {
        border: 2px solid $-c-lightgray;
        border-right: none;
        border-radius: 6px 0px 0px 6px;
        padding: 5px;
        &-button {
            background-color: $-c-lightgray;
            padding: 5px;
            border: 2px solid $-c-lightgray;
            border-radius: 0px 6px 6px 0px;
            cursor: pointer;
            color: $-c-white;
        }
        &-svg {

        }
    }
    &-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }


    &-tools {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        &__profile {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            &-element {
                padding: 3px;
                cursor: pointer;
                margin-right: 5px;
                &:last-child {
                    margin: 0px;
                }
            }
        }
        &__search {
            margin-right: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }

    &-navi {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        &__logo {
            margin-right: 30px;
            padding: 5px;
            cursor: pointer;
        }

        &__categories {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            &-element {
                margin-right: 10px;
                cursor: pointer;
                padding: 5px;
                &:last-child {
                    margin: 0px;
                }
            }
        }
    }
}


.burger {
    width: 30px;
    height: 22px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
}
.burger span {
    display: block;
    height: 4px;
    background: $-c-black;
    border-radius: 2px;
}

.phone-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: $-c-white;
    padding: 20px;
    border-top: 1px solid $-c-white;
    z-index: 1;
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    & li {
        padding: 10px 0;
        font-size: 18px;
        border-bottom: 1px solid $-c-white;
    }
}





.main {

    margin-bottom: 70px;
    &-slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 50px;

        &__arrow {
            position: relative;
            left: 6%;
            cursor: pointer;
            &:last-child {
                position: relative;
                left: -6%;
            }
        }
    }

    &-news {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: $-c-dark;
        padding: 15px;
        border-radius: 6px;
        position: absolute;
        bottom: 60px;
        width: 100%;
        max-width: 440px;

        &-text {
            color: $-c-white;
        }

        &__title {
            margin-bottom: 5px;
        }
        &__description {
            margin-bottom: 10px;
        }
        &__button {

        }
        &-button {
            border: 2px solid $-c-lightBlue;
            padding: 10px;
            border-radius: 6px;
            cursor: pointer;
            background-color: $-c-lightBlue;
        }
    }

    &__slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
    }

    &-products {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 1fr 15px 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;

        &__item {
            border: 2px solid $-c-lightgray;
            border-radius: 6px;
            padding: 15px;


            &__photo {
                
            }

            &__description {
                margin-bottom: 10px;
            }

            &__cost {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between ;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }

            &__button {
                padding: 5px;
                cursor: pointer;
                border: 2px solid $-c-blue;
                background-color: $-c-white;
                color: $-c-blue;
                border-radius: 6px;
            }

            &__price {
                color: $-c-gray;
            }
        }
    }

    &-products > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1
    }

    &-products > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3
    }

    &-products > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5
    }

    &-products > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1
    }

    &-products > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3
    }

    &-products > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5
    }
}





.arrow {
    fill: $-c-gray;
}


.footer {
    margin-bottom: 70px;
    &-header {
        border-bottom: 2px solid $-c-lightgray;
        border-top: 2px solid $-c-lightgray;
        margin-bottom: 30px;


        &__benefits {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            margin: 15px 0px;
        }
    }

    &-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 2px solid $-c-lightgray;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            & > * {
                padding-bottom: 5px;
                &:last-child {
                    padding-bottom: 0px;
                }
            }

            &-button {
                background-color: $-c-lightBlue;
                padding: 5px;
                border: 2px solid $-c-lightBlue;
                border-radius: 0px 6px 6px 0px;
                cursor: pointer;
                color: $-c-white;
            }

            &-input {
                border: 2px solid $-c-lightgray;
                border-right: none;
                border-radius: 6px 0px 0px 6px;
                padding: 5px;
            }
            &-email {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
            }
            &-link {
                color: $-c-black;
            }
        }
    }

    &-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

    }
    &-socials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        
        & > * {
            margin-right: 20px;            
            &:last-child {
                margin-right: 0px;  
            }
        }
    }
}


.dropdown {
  position: relative;
  z-index: 1;

  &__button {
    border: none;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    top: 100%;
    width: 180px;
    background: $-c-white;
    border-radius: 6px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8px 0;

    a {
      padding: 10px 16px;
      color: $-c-black;
    }
  }

  &.active .dropdown__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: $breakpoint-md) {
    .footer-main-item {
        cursor: pointer;
    }
    .footer-main-item-span {
        display: none;
    }
    .active {
        display: block;
    }
}

@media (max-width: $breakpoint-sm) {
    .footer-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
}

@media (max-width: $breakpoint-sm) {
    .main-products {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
    .main-products > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .main-products > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .main-products > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .main-products > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .main-products > *:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .main-products > *:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .main-news {
        width: auto;
    }
}

@media (max-width: $breakpoint-lg) {
    .desktop-menu {
        display: none;
    }

    .burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (max-width: $breakpoint-sm) {
    .header-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

//efects
.header {
    &-tools__profile-element:hover {
        & .svg-profile {
            fill: $-c-blue;
        }
        & .svg-liked {
            fill: $-c-red;
        }
        & .svg-cart {
            fill: $-c-yellow;
        }
    }
    &-navi__categories-element:hover {
        border-bottom: 2px solid $-c-black;
        border-radius: 12px;
        border-color: $-c-black;
    }
    &-search-button:hover {
        background-color: $-c-blue;
        border-color: $-c-blue;
        & .header-search-svg {
            fill: $-c-white;
        }
    }
}

.arrow:hover {
    fill: $-c-blue;
}

.main {
    &-news-button:hover {
        border-color: $-c-black;
        background-color:$-c-white;

        &,main-news-text {
            color: $-c-black;
        }
    }
    &-products__item__button:hover {
        background-color: $-c-blue;
        border-color: $-c-white;
        color: $-c-white;
    }
}


.footer {
    &-main-item {
        &-link:hover {
            color: $-c-lightBlue;
        }
        &-button:hover {
            background-color: $-c-white;
            color: $-c-black;
        }
        &-dropdown:hover {
            color: $-c-blue;
        }
    }
}

.instagram:hover {
    fill: $-c-red;
}
.twitter:hover {
    fill: $-c-blue;
}
.facebook:hover {
    fill: $-c-lightBlue;
}

.dropdown__menu a:hover {
    background: $-c-lightgray;
}

